*{
    margin: 0;
    padding: 0;
}

body{
    background:blanchedalmond;
    color: black;
    font-family: sans-serif;
}

.contenedor{
   width: 90%;
   max-width: 1000px;
   margin: 20px auto; 
   display: grid;
   grid-gap: 20px;
   
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, auto);
   grid-template-areas: "header header header"
                        "contenido contenido sidebar"
                        "widget-1 widget-2 sidebar"
                        "footer footer footer";
                        
}

.contenedor >div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer{
    background: white;
    padding: 20px;
    border-radius: 10px;

}

.contenedor .header{
    background: orange;
    color: black;
    /*grid-column-start: 1;
    grid-column-end: -1;*/
    grid-area: header;
}

.contenedor .contenido{
    /*grid-column: span 2;*/
    grid-area: contenido;
}

.contenedor .sidebar{
    grid-column: 3 / 4;
    background:grey;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    /*grid-row: span 2;*/
    grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2{
   
    background: crimson;
    color: white;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1;
}
.contenedor .widget-2{
    grid-area: widget-2;
}

.contenedor .footer{
    background:cornflowerblue;
    color: white;
    /*grid-column: span 3;*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: footer;
}

/*@media screen and (max-width: 768px){
    .contenedor .contenido{
        grid-column: 1 / -1;
    }
    .contenedor .sidebar{
        grid-column: 1 / -1;
    }

    .contenedor .widget-1{
        grid-column: span 2;
    }
}*/

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas: "header header header"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                            "widget-1 widget-1 widget-2"
                            "footer footer footer";
    }
}