.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
    grid-template-rows: minmax(100px, auto);
}

.nested-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 100px;
    gap: 1em;
}

.nested-grid > div{
    border: 1px solid black;
    background:rgb(255, 196, 0);
}

.grid > div{
    background-color: aquamarine;
    padding: 1em;
}

.grid > div:hover{
    border: 2px solid black;
}