.grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1em;
    grid-template-rows: minmax(100px, auto);
}

.grid div{
    background-color: aquamarine;
    padding: 1em;
}

.grid div:hover{
    border: 2px solid black;
}